$color_1: #fff;
$color_2: black;
$color_3: #000;
$color_4: #5a5a5a;
$font_family_1: "Raleway", sans-serif;
$background_color_1: #da623f;
$background_color_2: #f9f1e5;
$background_color_3: #014252;
$background_color_4: #e2b392;
$background_color_5: #eb923c;
$background_color_6: #000;
$background_color_7: inherit;
$background_color_8: #fff;
$background_color_9: #a0c4a8;